body{
    background-image: url('bg.spoti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
}
p{
  color: white;
  font-size: 2rem;
}
img{
    width: 35%;
    text-align: center;
    padding: 5%;
    height: auto;
}
